// variabless
$grey: #b9b9b9;
$dgrey: #4a4a4a;
$blue: #0d7abf;
$cubic: cubic-bezier(0, 0.53, 0.25, 1.23);
$cubicN: cubic-bezier(0.855, -0.505, 0.225, 1.275);
%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};
}