//@import url(vendors/sanitize.css);
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
  text-decoration: none;
}

body {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  ;
}

.blog {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.postCard.loadingCard,
.postCard.loadingCard:hover {
  background: #F4F4F4;
  animation: 1s infinite loadingCardColorChange;
  box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.015);
  opacity: 0.8;
  transform: none;
}

@keyframes loadingCardColorChange {
  0% {
    background: #F4F4F4;
  }
  50% {
    background: #efeded;
    transform: scale(1.015);
  }
  100% {
    background: #F4F4F4;
  }
}

.postCard {
  display: flex;
  background-position: center bottom;
  flex-direction: row;
  width: 340px;
  height: 440px;
  margin-bottom: 46px;
  border-radius: 6px;
  box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.18);
  padding: 26px;
  box-sizing: border-box;
  text-decoration: none;
  margin: 40px;
  transition: transform cubic-bezier(0.35, 1.21, 1, 1) 0.16s;

  @media screen and (max-width: 1220px) {
    width: 320px;
    margin: 20px;
  }

  @media screen and (max-width: 1000px) {
    width: 320px;
    margin: 15px 15px;
    height: 400px;
  }

  @media screen and (max-width: 500px) {
    width: calc(100vw - 40px);
    max-width: 320px;
    margin: 15px 20px;
    height: 400px;
  }
  &:hover {
    transform: scale(1.08);
    box-shadow: 0px 10px 17px rgba(0, 0, 0, 0.20);
  }
  &__inner {
    align-self: flex-end;
    color: white;
  }
  &__cat,
  &__read-time,
  &__date {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    opacity: 0.70;
    letter-spacing: 0.2px;
  }
  &__date {
    margin-right: 12px;
    display: inline-block;
  }
  h2 {
    font-size: 40px;
    line-height: 38px;
    margin: 6px 0 10px;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

$black: #242121;
$cubicN: cubic-bezier(0.855, -0.505, 0.225, 1.275);
.container {
  width: 1260px;
  max-width: 100%;
  margin: auto;
}

footer {
  margin-top: auto;
  .container {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    box-sizing: border-box;
    width: 1200px;
    max-width: 100%;
    border-top: 1px solid #dedede;
    padding: 0 20px;
  }
  .logo-link img {
    width: 60px;
  }
  nav {
    margin-left: auto;
    margin-top: 6px;
    li {
      list-style: none;
      a {
        margin-left: 14px;
        img {
          opacity: 0.4;
          transition: opacity ease-in 0.2s;
        }
      }
      a:hover,
      a:active {
        img {
          opacity: 0.8;
        }
      }
    }
  }
}

header {
  text-align: center;
  display: flex;
  align-items: center;
  height: 110px;
  padding: 0px 30px;
  margin-bottom: 50px;

  @media screen and (max-width: 800px) {
    margin-bottom: 0;
    padding: 0 25px;
  }

  @media screen and (max-width: 500px) {
    margin: 0 auto 0;
    padding-bottom: 0;
  }

  .logo-link {
    img {
      width: 136px;
    }
    @media screen and (max-width: 500px) {
      margin: 10px auto 40px;
    }
  }
  nav {
    margin-left: auto;
    display: none;
    li {
      list-style: none;
    }
  }
}

.blog-description {
  font-size: 38px;
  color: $black;
  font-weight: 700;
  text-align: center;
  width: 800px;
  margin: -64px auto 0;
  max-width: 100%;
  line-height: 1.14em;
  @media screen and (max-width: 800px) {
    font-size: 34px;
    padding: 10px 40px 0;
    margin: -20px 0 50px;
    box-sizing: border-box;
  }
  @media screen and (max-width: 500px) {
    font-size: 22px;
    padding: 10px 5px 0;
    box-sizing: border-box;
  }
}

.articles {
  display: flex;
  flex-wrap: wrap;
  margin: 100px auto;
  justify-content: start;
  a {
    text-decoration: none;
  }

  @media screen and (max-width: 1220px) {
    justify-content: center;
  }

  @media screen and (max-width: 800px) {
    margin: 20px 0;
  }
  @media screen and (max-width: 500px) {
    margin: 30px 0;
  }
}

// post
.article {
  width: 740px;
  max-width: 100%;
  margin: 100px auto 200px;
  padding: 0 16px;
  box-sizing: border-box;
  *::selection {
    background: #F69226;
    color: white;
  }
  &__bottom-details {
    text-align: left;
    span {
      font-size: 13px;
      letter-spacing: 0.04em;
      color: rgba(150, 150, 150, 0.8);
      font-weight: 500;
      text-transform: uppercase;
      margin-right: 14px;
    }
    a {
      font-weight: 500;
      line-height: normal;
      font-size: 13px;
      color: rgba(150, 150, 150, 0.8);
      text-transform: uppercase;
      margin-bottom: -8px;
      margin-right: 14px;
      letter-spacing: 0.04em;
    }
    margin-bottom: 45px;
  }
  &__content {
    font-style: normal;
    font-weight: normal;
    line-height: 32px;
    font-size: 20px;
    color: #3B4C56;
  }
  h1,
  h1 a {
    font-size: 53px;
    line-height: 55px;
    color: #242121;
    letter-spacing: -0.03em;
    @media screen and (max-width: 500px) {
      font-size: 30px;
      line-height: 1.02;
    }
  }
  h1 {
    margin: 7px 0;
    text-align: left;
  }
  h2 {
    font-size: 30px;
    color: #242121;
    margin-top: 80px;
    @media screen and (max-width: 500px) {
      font-size: 24px;
    }
  }
}

@import './dark-gist-theme.scss';
@import './me-card';
.categories {
  &__title {
    font-size: 36px;
    padding: 0 40px;
    margin-bottom: -70px;
    color: #242121;
    @media screen and (max-width: 800px) {
      margin-bottom: 0;
      font-size: 30px;
      padding: 0 25px;
    }
    @media screen and (max-width: 500px) {
      margin-bottom: 0;
      font-size: 30px;
    }
  }
}

.placeholder-text,
span.placeholder-text {
  background: #eaeaea;
  color: #eaeaea;
  border-radius: 2px;
  margin-right: 7px;
  opacity: 0.4;
  /* line-height: 95%; */
  transform: scaleY(0.76);
  display: inline;
  user-select: none;
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  animation: 2s placeholter-fadein;
  &.dark {
    color: #dbdbdb;
    background: #dbdbdb;
  }
}

@keyframes placeholter-fadein {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.8;
  }
}