//@import url(vendors/sanitize.css);
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
  text-decoration: none;
}

body {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;;
}

.blog {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.postCard.loadingCard {
  background: #EAE3E3;
  animation: 1s infinite loadingCardColorChange;
  box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.05);
  opacity: 0.8;
}

@keyframes loadingCardColorChange {
  0% {
    background: #EEECEC;
  }
  33% {}
  50% {
    background: rgb(240, 236, 236);
    transform: scale(1.03);
  }
  100% {
    background: #EEECEC;
  }
}

.postCard {
  display: flex;
  background-position: center bottom;
  flex-direction: row;
  width: 340px;
  height: 440px;
  margin-bottom: 46px;
  border-radius: 6px;
  box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.18);
  padding: 26px;
  box-sizing: border-box;
  text-decoration: none;
  margin: 40px;
  transition: transform cubic-bezier(0.35, 1.21, 1, 1) 0.16s;
  &:hover {
    transform: scale(1.08);
    box-shadow: 0px 10px 17px rgba(0, 0, 0, 0.20);
  }
  &__inner {
    align-self: flex-end;
    color: white;
  }
  &__cat,
  &__read-time,
  &__date {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    opacity: 0.70;
    letter-spacing: 0.2px;
  }
  &__date {
    margin-right: 12px;
    display: inline-block;
  }
  h2 {
    font-size: 40px;
    line-height: 38px;
    margin: 6px 0 10px;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

$black: #282C35;
$cubicN: cubic-bezier(0.855, -0.505, 0.225, 1.275);
.container {
  width: 1260px;
  max-width: 100%;
  margin: auto;
}

footer {

  margin-top: auto;

  .container {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    box-sizing: border-box;
    width: 1200px;
    max-width: 100%;
    border-top: 1px solid #dedede;
  }

  .logo-link img {
    width: 60px;
  }

  nav {
    margin-left: auto;
    margin-top: 6px;

    li {
      list-style: none;
      
      a {
        margin-left: 14px;

        img {
          opacity: 0.4;
          transition: opacity ease-in 0.2s;
        }
      }

      a:hover, a:active {
        img {
          opacity: 0.8;
        }
      }
    }
  }
}

header {
  text-align: center;
  display: flex;
  align-items: center;
  height: 110px;
  padding: 0px 30px;
  margin-bottom: 50px;

  .logo-link {
    img {
      width: 136px;
    }
  }

  nav {
    margin-left: auto;

    li {
      list-style: none;
    }
  }

}

.blog-description {
  font-size: 38px;
  color: $black;
  font-weight: 700;
  text-align: center;
  width: 800px;
  margin: -64px auto 0;
  max-width: 100%;
  line-height: 1.14em;
}

.articles {
  display: flex;
  flex-wrap: wrap;
  margin: 100px auto;
  justify-content: start;
  a {
    text-decoration: none;
  }
}

// post
.article {
  width: 740px;
  max-width: 100%;
  margin: 100px auto 200px;
  padding: 0 16px;
  box-sizing: border-box;

  *::selection {
     background: #F69226;
     color: white;
  }

  &__bottom-details {
    text-align: left;
    span {
      font-size: 13px;
      letter-spacing: 0.04em;
      color: rgba(150, 150, 150, 0.8);
      font-weight: 500;
      text-transform: uppercase;
      margin-right: 14px;
    }
    a {
      font-weight: 500;
      line-height: normal;
      font-size: 13px;
      color: rgba(150, 150, 150, 0.8);
      text-transform: uppercase;
      margin-bottom: -8px;
      margin-right: 14px;
      letter-spacing: 0.04em;
    }
    margin-bottom: 45px;
  }
  &__content {
    font-style: normal;
    font-weight: normal;
    line-height: 32px;     font-size: 20px;
    color: #3B4C56;
  }
  h1,
  h1 a {
    font-size: 53px;
    line-height: 55px;
    color: #2E323B;
    letter-spacing: -0.03em;
  }
  h1 {
    margin: 7px 0;
    text-align: left;
  }
  h2 {
    font-size: 30px;
    color: #2E323B;
    margin-top: 80px;
  }
}

@import './dark-gist-theme.scss';
@import './me-card'

